<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <style>
    *{margin: 0;padding: 0;list-style: none;}
    .container{
      margin: 50px auto 0;
      width: 1200px;
    }
    .container li{
      padding: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>hello world</h1>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>