<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <style>
    *{margin: 0;padding: 0;list-style: none;}
    .container{
      margin: 50px auto 0;
      width: 1200px;
    }
    .container li{
      padding: 10px;
    }
  </style>
</head>
<body>
  <form action="" ></form>
  <ul class="container">
    <li>
      <span>账号</span>
      <input type="text" name="name">
    </li>
    <li>
      <span>邮箱</span>
      <input type="text" name="email">
    </li>
    <li>
      <span>密码</span>
      <input type="password" name="password1">
    </li>
    <li>
      <span>再次输入密码</span>
      <input type="password" name="password2">
    </li>
    <li>
      <button id="register">注册</button>
    </li>
  </ul>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $("#register").on("click",function(){

      $.ajax({
        type: "post",
        url: "/register",
        data: {
          name:$("[name=name]").val(),
          email:$("[name=email]").val(),
          password1:$("[name=password1]").val(),
          password2:$("[name=password2]").val(),
        },
        dataType: "json",
        success: function (res) {
          console.log(res)
        }
      });
    })
  </script>
</body>
</html>